button {
  background-color: rgb(249, 168, 38);
  box-shadow: 0 0.125rem 0.25rem rgba(252, 168, 47, 0.4);
  border-radius: 0.75rem;
  padding: 1rem 2rem;
  border: 1px solid rgba(128, 128, 128, 0.4);
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

button:focus {
  outline-style: solid;
  outline-offset: 0.25rem;
  outline-width: 0.25rem;
  outline-color: rgba(96, 102, 208, 0.75);
}

button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}