body {
    background-image: url(./background.png);
    background-repeat: no-repeat;
}

.questions--container, .scores--container {
    background-color: #ffffff;
    padding: 16px;
}

.page--title {
    text-transform: uppercase;
    color: #ffffff;
}

.countries--container {
    display: flex;
    flex-direction: column;
    padding: 16px
}

.countries--container button {
    padding: 16px;
    margin-bottom: 16px;
}

/* .resetBackground .btn {
    background-color: black;
} */

.page--subheading {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #1D355D;
}

#next-btn-container {
    display: none;
}

img {
    width: 25%;
    height: 25%
}

.return--btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1D355D;
}

p {
    font-size: 18px;
    line-height: 27px;
}

p span {
    color: blue;
}